body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#app {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #c2e1f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#properties-list {
    list-style-type: none;
    padding: 0;
}

#properties-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

button.delete-btn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
button.edit-btn {
    background-color: rgb(112, 162, 202);
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
}